/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Strong cyan: hsl(172, 67%, 45%)

### Neutral

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Dark grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (form inputs): 24px

### Font

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(172, 67%, 45%);
    font-family: 'Space Mono', monospace;
}
.container{
    display: flex;
    background-color: #fff;
    margin: 100px auto;
    width: 70%;
    min-height: 70vh;
    border-radius: 10px;
}
header{
    display:block;
    justify-self: center;
}
.output{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    height: 25px;
    padding: 0 10px;
    margin-bottom: 50px;
}
input{
    width: 100%;
}
.col{
    width: 50%;
    padding: 20px;
}
.right{
    background-color: hsl(183, 100%, 15%);
    height: 45vh;
    margin:85px 30px;
    border-radius: 10px;
}
.reset{
    background-color:hsl(172, 67%, 45%)
}
.calc-row{
    margin: 10px;
}
button{
    margin: 10px;
    padding: .5em 2em;
}
@media (max-width: 720px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .col{
        width: 80%;
    }
}