*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(172, 67%, 45%);
}
.container{
    display: flex;
    background-color: #fff;
    margin: 100px auto;
    width: 70%;
    min-height: 70vh;
    border-radius: 10px;
}
.output{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    height: 25px;
    padding: 0 10px;
    margin-bottom: 50px;
}
input{
    width: 100%;
}
.col{
    width: 50%;
    padding: 20px;
}
.right{
    background-color: hsl(183, 100%, 15%);
    height: 45vh;
    margin:25px;
    border-radius: 10px;
}
.reset{
    background-color:hsl(172, 67%, 45%)
}
.calc-row{
    margin: 10px;
}
button{
    margin: 10px;
    padding: .5em 2em;
}
@media (max-width: 720px){
    .container{
        display: flex;
        flex-direction: column;
    }
}