/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Strong cyan: hsl(172, 67%, 45%)

### Neutral

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Dark grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (form inputs): 24px

### Font

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(172, 67%, 45%);
    font-family: 'Space Mono', monospace;
}

/* Strong cyan: hsl(172, 67%, 45%)

### Neutral

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Dark grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (form inputs): 24px

### Font

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 400, 500, 700 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 24px;
}
body{
   background-color: hsl(185, 41%, 84%); 
}
header{
    text-align: center;
    margin: 2rem 0;
}
.container{
    background-color: white;
   
    width: 60%;
    margin: 2rem auto;
    border-radius: 2rem;
    
    display: flex;
    flex-direction: row;
}
.label{
    margin-bottom: 2.5rem;
}
.input{
    /* height: 450px; */
    /* background-color: red; */
    width: 50%;
    margin: 1.5rem;
    margin-bottom: 20px;
}
.input-area{
    width: 80%;
    text-align: right;
    background-color:hsl(189, 41%, 97%) ;
    padding: .5rem;
    border-radius: .2rem;
}
.input-wrapper{
    position: relative;
    margin-bottom: 1.5rem;
}

.label{
    /* margin-bottom: 50px;
    padding-bottom: 2rem;
     */
    font-weight: 700;
    color:hsl(189, 41%, 97%);
    padding-bottom: 2rem;
    margin-top: .5rem;
}
.input-wrapper img{
    position: absolute;
    top: 0.2rem;
    left: .3rem;
    padding: .45rem;

}
.output{
    background-color: hsl(183, 100%, 15%);
    height: 400px;
    width: 50%;
    margin: 1.5rem;
    border-radius: 2rem;
}
.btn-wrapper{
    display: flex;
    align-items: center;
    justify-content:start;
    flex-wrap: wrap;
    
    /* padding: 1.5rem; */
    gap: 8px;
    margin-bottom: 1.5rem;
    margin-top: .5rem;
}
.btn{
    width:25%;
    padding: .5rem;
    background-color:hsl(183, 100%, 15%); 
    border-radius: .3rem; 
}
.btn:hover{
    background-color: aquamarine;
}
.custom{
    width:25%;
    padding: .5rem;
    border-radius: .3rem; 
}
.error{
    color: red;
    display: none;
}

@media (max-width:900px){
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        
    }
    .input{
        width:100%;
    }
    .output{
        width:85%;
    }
}